.chat-container {
  width : 55%;
  max-width: 650px; /*600 or 650 */
  /*margin-top: 3rem;*/
  /*margin: 7rem auto 7rem auto;*/
  /*border: 1px solid black;*/
  margin-top: -8rem;/*3.8 to 7*/
  height: 50vh;/*68 to 57*/

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  overflow-x: hidden;
  transition-property: all;
  transition-duration: 1s;

}

.header #desc {
  font-size: 1.3rem;
  text-align: right;
  /*float: right;*/
  margin-top: -2.1rem;
}

@media only screen and (max-width: 320px) {
  .chat-container {
    width: 90%;
    }}


.oscar-chats, .me-chat {
  text-align: left;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  font-size: 1.7rem;/*1.25 or 1.4*/ /*1.4 --> 1.9*/ /*1.8 or 1.7 */
  line-height: 2.6rem; /* 2 --> 2.6*/
  width: auto;
  /*margin: 4rem auto;*/
}
.oscar-chats {
  /*color : #6D3CFB;*/
  color : #000000;
  transition-property: all;
  transition-duration: 0.8s;
  margin-left: 8.5rem;
}

.me-chat {
  text-align: right;
  margin-right: 8.5rem;
}
.blank-space {
  width: 3.5rem;
  height: 5.3rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.icon {
  width: 3.5rem;
  height: 4rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.oscar {
  float: left;
  clear: both;
  /*background-color: red;*/
  background-image: url('../images/oscar-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.me {
  /*background-color: blue;*/
  float: right;
  clear : both;
  background-image: url('../images/me-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

#typing-container {
  max-width: 650px; /*600 or 650 */
  width: 55%;
  height: 4rem;
  position: fixed;
  bottom: 13rem; /*10 to 13*/
  /*border: 1px solid white;*/

  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;


}
input {
  font-size : 1.3rem;
  transition: all 0.2s ease-in-out;
  height: 3rem;
  background-color: none;
  /*border: 1px solid black;*/

  border-style: solid;
  border: 0px solid white;
  border-bottom: 2px solid #000000;

  margin: 0 2.3rem;
  width: 68%; /* 82 to 50*/
  padding: 0 0.8rem;
  /*float: left;*/
  display: inline-block;
}
#send, #send img {
  width : 8rem;
  height: 3rem;
  border: 2px solid black;
  display: inline-block;
  vertical-align: bottom;
  float: right;
  margin-right: 2.5rem;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  /*float: right;*/
  transition-property: all;
  transition-duration: 0.5s;
}
#send:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
